{% extends 'main.html.twig' %}

{% block title %}Welcome to Open Road Tolling Web Platform{% endblock %}

{% block body %}


    <!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Open Road Tolling</h1>
                <p>Drive Freely on Your Way, Pay at Your Fingertips</p>
                <a href="{{ path('register') }}" class="btn btn-success btn-lg">Signup Now</a>
            </div>
        </div>
    </header>

    <!-- Intro Section -->
    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <span class="glyphicon glyphicon-road" style="font-size: 60px"></span>
                    <h2 class="section-heading">Save your time. Extract maximum from technology</h2>
                    <p class="text-light">Now you can simply signup to our open road tolling system and enjoy the benefit of electronic tolling through your mobile phone.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Content 1 -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/microphone.jpg" alt="">
                </div>
                <div class="col-sm-6">
                    <h2 class="section-header">No Long Queues</h2>
                    <p class="lead text-muted">Our novel Open Road Tolling System is designed to drive you through the toll plaza without stopping by. Now you don't want to get headaches rotting in the queues.</p>
                </div>

            </div>
        </div>
    </section>

    <!-- Content 2 -->
    <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="section-header">Easy Use</h2>
                    <p class="lead text-light">All you need is your smartphone to register and use the system. Then download the mobile app to pay and drive through freely like a bird.</p>
                </div>
                <div class="col-sm-6">
                    <img class="img-responsive img-circle center-block" src="images/iphone.jpg" alt="">
                </div>

            </div>
        </div>
    </section>

    <!-- Promos -->
    <div class="container-fluid">
        <div class="row promo">
            <a >
                <div class="col-md-4 promo-item item-1">
                    <h3>
                        Register
                    </h3>
                </div>
            </a>
            <a >
                <div class="col-md-4 promo-item item-2">
                    <h3>
                        Download
                    </h3>
                </div>
            </a>

            <a >
                <div class="col-md-4 promo-item item-3">
                    <h3>
                        Enjoy
                    </h3>
                </div>
            </a>
        </div>
    </div><!-- /.container-fluid -->

    <!-- Content 3 -->
    <section class="content content-3">
        <div class="container">
            <h2 class="section-header"><span class="glyphicon glyphicon-download-alt text-primary"></span><br> Download Mobile App</h2>
            <p class="lead text-muted">Download our moblie application now and make your driving more comfortable </p>
            <a href="#" class="btn btn-primary btn-lg">Download</a>
        </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer">

        <!-- Contact Us -->
        <div class="contact">
            <div class="container">
                <h2 class="section-heading">Contact Us</h2>
                <p><span class="glyphicon glyphicon-earphone"></span><br> +94 (71) 385 8264</p>
                <p><span class="glyphicon glyphicon-envelope"></span><br> textishara@gmail.com</p>
            </div>
        </div>

        <!-- Copyright etc -->
        <div class="small-print">
            <div class="container">
                <p>Copyright &copy; University of Moratuwa 2020</p>
            </div>
        </div>

    </footer>

    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Javascript -->
    <script src="js/custom.js"></script>

{% endblock %}
